
@media screen and (max-width: 1020px) {
    
    
    
    /*--------------Quem-somos------------*/
    
    section.quemSomos .flex{
        flex-direction: column;
        
    }
    
    section.quemSomos{
        padding: 100px 10% 10% 10%;
        
        
        
    }

    .detalhe{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        left: 10px;
        top: 50px;
        
    }
    .foto1{
        position: relative;
        width: 330px;
    height: 410px;
    left: 100px;
    object-fit: cover;
    
    
}

#frontImage[src*="micheline.png"] {
    /* Define um tamanho específico para a segunda imagem */
    height: auto;
    position: relative;
    bottom: -100px;
    left: 120px;
}
.foto2{
    width: 400px;
}
.container {
    position: relative; /* Para permitir o posicionamento dos elementos filhos */
    width: 400px;
    height: 360px;
    background-image: url('img/good-team-animate.svg'); 
    background-size: cover; 
    background-position: center; 
    right: 50px;
    
}
.img1{
    position: absolute;
    top: -100px; /* Ajusta a posição vertical da imagem da frente */
    left: -20px;
    
}
section.quemSomos .flex  .txt-quem-somos{
    align-items: center;
    justify-items: center;
    max-width: 100%;
    max-height: 100%;
    padding: 0 10% 0 10%;
    margin: auto;
    text-align: center;
}

section.quemSomos .flex  .txt-quem-somos p{
    margin: auto;
    bottom: 5px;
    text-align:justify;
    font-size: 11px;
    
}
section.resultados{
    padding: 100px 3%;
    background-color: var(--resultados);

}

section.resultados h2{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-family: var(--fonte-de-titulo);
    letter-spacing: 3px;
    position: relative;
    bottom: 120px;

}

section.resultados .flex .container2{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer{
    background-color: var(--footer);
    padding: 20px;
}

footer .logo-footer{
   display: flex;
   justify-content: center;
   align-items: center;
 

    
 
}









}


