@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Classes e formatações gerais*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

/*cores*/
    --Menu-color: #DDD1FF;
    --Home-color: #F0CEEB;
    --botão-contato-color: #E9B4E1;
    --Quem-somos: #E8B4CB;
    --Projeto: #DDD1FF;
    --resultados: #CEC9F9;
    --footer: #A7A0E8;
     
/*fontes*/

    --fonte-de-texto: Lato;
    --fonte-de-titulo: Fredoka;



}
html {
    scroll-behavior: smooth;
}

body{
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;

}

.flex{
    display: flex;
}
h2.ritulo{
    color: black;
    font-size:40px;
    text-align: center;
    font-family: var(--fonte-de-titulo);
    letter-spacing: 1;

}



/*Estilos de cabeçalho*/

/*----------------MENU----------------*/

header{
    padding: 10px 4%;
    background: var(--Menu-color);
    
    
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: black;
    text-decoration: none;
    font-family: var(--fonte-de-texto);
    display: inline-block;
    transition: .2s;
    letter-spacing: 1.2px;
    
}
header nav ul{
    list-style-type:none;
}
header nav.menu-desktop ul li{
    display:inline-block;
    margin: 0 80px;
    
    padding: 0 40;
}
.menu-desktop a:hover{
    color: var(--footer);
    transform: scale(1.05);
}

.logo a:hover{
    transform: scale(1.05);
}

.menu-desktop a:hover{
    color: var(--footer);
    transform: scale(1.05);
}

.logo a:hover{
    transform: scale(1.05);
}

.menu-mobile nav ul li a{
    color: black;
    font-size: 18px;
    font-family: var(--fonte-de-texto);
    padding: 20px 4%;
    display: block;

}

/*------------MENU-MOBILE---------*/
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}
.menu-mobile .abrir-menu{
    width: 70%;
}

.btn-abrir-menu a img{
    width: 30px;
    height: 30px;

}
.overlay-menu{
    background-color: #fed8ff70;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}
.menu-mobile{
    background-color: #ffe0fcce;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 220px;
    z-index: 99999;
    width: 30%;
    overflow: hidden;
    transition: left 0.3s ease;
}
.menu-mobile nav ul{
    text-align: right;
}
.menu-mobile nav ul li a{
    color: black;
    font-size: 18px;
    font-family:var(--fonte-de-texto) ;
    padding: 30px 4%;
    display: block;
}
.menu-mobile nav ul li a:hover{
    color: var(--footer);
    transform: scale(1.05);

}
.menu-mobile .btn-fechar{
    padding: 20px 8%;
}
.btn-abrir-menu{
    display: none;
}

/* ----------- SANDUICHE -------- */   

@media screen and (max-width: 1020px){

    
    .content{
        height: 160px;
    }



    .content .list-menu {
        display: none;

    }

    
.one,
.two,
.three {
    width: 70%;
    height: 5px;
    background-color: black;
    margin: 16px auto;
    transition-duration: 0.5s;
    border-radius: 300px;
}

.menu-toggle {
    width: 60px;
    height: 100px;
    margin-top: 20px;
   

}

.content.on .list-menu {
    position: absolute;
    top: 160px;
    right: 10px;
    bottom: 0;
    width: 30vw;
    height: 571px;
    background-color: rgba(240, 147, 235, 0.199);
    z-index: 99999;
   
}

.content.on .menu-toggle {
    right: 40px;
    top: 20px;
    color: #000000;
}

.content.on .list-menu {
    display: block;
}

.content.on .list-menu li {
    display: flex;
    justify-content: center;
}

.content.on .list-menu li a {
    font-size: 1rem;
    padding: 50px 20px;
   
    
}

.content.on .menu-toggle .one {
    transform: rotate(45deg) translate(3px, 17px);
}

.content.on .menu-toggle .two {
    transform: rotate(-45deg) translate(-3px, -12px);
}

.content.on .menu-toggle .three {
    opacity: 0;
}

}


 
    section.topo-do-site .flex{
        gap: 30px;
    }

    .btn-abrir-menu{
        display: flex;
    }
    section.topo-do-site{
        padding: 20px 8%;

    }
    .topo-do-site{
        font-size: 30px;

    }
    .topo-do-site .img-topo-site img{
        width: 100%;
    }
    



/*--------------HOME---------------*/

section.topo-do-site{
    padding: 200px 4%;
    background-color: var(--Home-color);
   
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
   

}
.img-topo-site img{
    width:350px;
    height: 240px;
}
.txt-topo-site p{
    padding:  10px 10px;
    letter-spacing: 1px;
    white-space: pre-line;
}

.btn-contato button:hover{
    background-color:  var(--footer);
    transform: scale(1.10);

}

.detalhe{
   position:relative;
   
}
.topo-do-site h1{
    font-family: var(--fonte-de-titulo);
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 3;
}
.topo-do-site p{
    font-family: var(--fonte-de-texto);
    padding: 10px 10px;
    letter-spacing: 1px;
    white-space: 10px;
    line-height: 1.5;
}
.btn-contato button{
    position: relative;
    padding: 10px  100px;
    font-size: 20px;
    bottom: 20px;
    color: black;
    font-family: var(--fonte-de-titulo);
    background-color: var(--botão-contato-color);
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2;

}
.txt-topo-site{
    padding: 10px 10px;
    letter-spacing: 1px;
    margin-top: 10px 10px 10px  10px;
    
}

.txt-topo-site h1{
    position: relative;
    left: 10px;
    font-size:40px ;
    bottom: 50px;
}

.txt-topo-site p{
    position: relative;
    bottom: 90px;
}

.topo-do-site .detalhe1 img{
    position: relative;
    left: 470px;
    bottom: 50px;
    animation: flutuar 2s cubic-bezier(1,-0.51,1,-0.63) infinite alternate;
}
.img-topo-site img{
    background-repeat: no-repeat;
    animation: showSteps 2s ease-in forwards;

}
.img-topo-site:nth-child(1){
   top: 20%;
   left: 10%;
   animation-delay: 0.5s;
}
.img-topo-site:nth-child(2){
    top: 40%;
    left: 25%;
    animation-delay: 0.5s;
 }
 .img-topo-site:nth-child(3){
    top: 60%;
    left: 40%;
    animation-delay: 0.5s;
 }
 .img-topo-site:nth-child(4){
    top: 80%;
    left: 55%;
    animation-delay: 1.5s;
 }

 @keyframes showSteps{
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }

 }

@keyframes flutuar {
    0% {
        top:0
    }
    100%{
        top: 20px;

    }



}

/*----------QUEM SOMOS------------*/


section.quemSomos{
    
    background-color: var(--Quem-somos);
    padding: 80px;
    
}
.foto1{
    position: relative;
    width: 330px;
    height: 410px;
    left: 100px;
    object-fit: cover;
    

}



#frontImage[src*="micheline.png"] {
     /* Define um tamanho específico para a segunda imagem */
    height: auto;
    position: relative;
    bottom: -100px;
    left: 120px;
}
.foto2{
    width: 400px;
}
.container {
    position: relative; /* Para permitir o posicionamento dos elementos filhos */
    width: 600px;
    height: 360px;
    background-image: url('img/good-team-animate.svg'); 
    background-size: cover; 
    background-position: center; 
   
}
.img1{
    position: absolute;
    top: -100px; /* Ajusta a posição vertical da imagem da frente */
    left: -20px;
 
}

section.quemSomos h1{
    font-size: 35px;
    font-family:var(--fonte-de-titulo);
    text-align: center;
    letter-spacing: 2px;
    position: relative;
    bottom: 70px;

    

    
}
section.quemSomos .flex{
    gap: 5rem;
}

section.quemSomos .flex  .txt-quem-somos{
    position: relative;
    left: 20px;
    gap: 20rem;
    margin: 60px;
    flex-wrap: wrap;
    
}
section.quemSomos .flex  .txt-quem-somos p{
    position: relative;
    bottom: 20px;
}

.detalhe{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 170px;
    bottom: 20px;
    
}
.txt-quem-somos{
    font-size: clamp(14px, 2vw, 16px); /* Tamanho mínimo de 14px, ideal relativo a 2% da viewport, máximo de 16px */
    background-color: #ffffff44;
    flex-wrap: wrap;
    bottom: 20px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    width: 1000px;
    height: 240px;

    /* Propriedades adicionadas */
    box-sizing: border-box; /* Inclui padding e borda no tamanho total */
    overflow: hidden; /* Impede que o conteúdo ultrapasse os limites */
    max-width: 100%; /* Limita a largura máxima */
    max-height: 100%; /* Limita a altura máxima */
    
}

.txt-quem-somos p {
    font-size: clamp(14px, 2vw, 16px); /* Ajusta o tamanho da fonte para se adaptar */
    font-family: var(--fonte-de-texto);
    text-align: center;
    padding: 10px;
    word-spacing: 8px;

}

/*-------------PROJETO----------*/

section.projeto{
    padding: 100px 3%;
    background-color: var(--Projeto);
    flex-direction: column;
   
}

section.projeto .interface h2{
    position: relative;
    margin-top: 50px;
    font-size: 40px;
    font-family: var(--fonte-de-titulo);
    text-align: center;
    letter-spacing: 3px;
    bottom: 140px;
    

}

.txt-projeto{
    font-size: 20px;
    font-family: var(--fonte-de-texto);
    word-spacing: 10px;
    line-height: 1.5;
    text-align: center;

}

/*--------------------RESULTADOS-----------------*/

section.resultados{
    padding: 100px 3%;
    background-color: var(--resultados);

}

section.resultados h2{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-family: var(--fonte-de-titulo);
    letter-spacing: 3px;
    position: relative;
    bottom: 120px;

}

section.resultados .flex .container2{
    display: flex;
    flex-direction: row;
    
    gap: 40rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.next-e-back{
    position: relative;
    
    border: none;
    background-color: #CEC9F9;
    

}

/*-------------------FOOTER-----------------*/

footer{
    background-color: var(--footer);
    padding: 20px;
}
footer .logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 60rem;
}
.logoFooter:hover{
    transform: scale(1.20);
}

footer .logo-footer .logoFooter{
    width: 70px;
    height: 70px;
    
}

footer .flex{
    justify-content: space-around;
    gap: 10rem;
}
.border{
    border-bottom: 2px solid #000000;
    

 
}
footer .border a{
    font-family: var(--fonte-de-texto);
    font-size: 2.5rem;
}