@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Classes e formatações gerais*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

/*cores*/
    --Menu-color: #DDD1FF;
    --Home-color: #F0CEEB;
    --botão-contato-color: #E9B4E1;
    --Quem-somos: #E8B4CB;
    --Projeto: #DDD1FF;
    --resultados: #CEC9F9;
    --footer: #A7A0E8;
     
/*fontes*/

    --fonte-de-texto: Lato;
    --fonte-de-titulo: Fredoka;



}
body{
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;

}

.flex{
    display: flex;
}
h2.ritulo{
    color: black;
    font-size:40px;
    text-align: center;
    font-family: var(--fonte-de-titulo);
    letter-spacing: 1;

}



/*Estilos de cabeçalho*/

/*----------------MENU----------------*/

header{
    padding: 10px 4%;
    background: var(--Menu-color);
    
    
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: black;
    text-decoration: none;
    font-family: var(--fonte-de-texto);
    display: inline-block;
    transition: .2s;
    letter-spacing: 1.2px;
    
}
header nav ul{
    list-style-type:none;
}
header nav.menu-desktop ul li{
    display:inline-block;
    margin: 0 80px;
    
    padding: 0 40;
}
.menu-desktop a:hover{
    color: var(--footer);
    transform: scale(1.05);
}

.logo a:hover{
    transform: scale(1.05);
}

/*--------------HOME---------------*/

section.topo-do-site{
    padding: 40px 4%;
    background-color: var(--Home-color);
    flex-wrap: wrap;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;

}
.img-topo-site img{
    width:350px;
    height: 240px;
}
.txt-topo-site p{
    padding:  10px 10px;
    letter-spacing: 1px;
    white-space: pre-line;
}
.detalhe{
   position:relative;
   
    
    

   
}
.topo-do-site h1{
    font-family: var(--fonte-de-titulo);
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 3;
}
.topo-do-site p{
    font-family: var(--fonte-de-texto);
    padding: 10px 10px;
    letter-spacing: 1px;
    white-space: 10px;
    line-height: 1.5;
}
.btn-contato button{
    
    padding: 10px  100px;
    font-size: 20px;
    
    color: black;
    font-family: var(--fonte-de-titulo);
    background-color: var(--botão-contato-color);
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2;

}
.txt-topo-site{
    padding: 10px 10px;
    letter-spacing: 1px;
    margin-top: 10px 10px 10px  10px;
    
}

.topo-do-site .detalhe1 img{
    position: relative;
    left: 310px;
   bottom: 10px;
    animation: flutuar 3s ease-in-out infinite alternate;
}
.img-topo-site img{
    background-repeat: no-repeat;
    animation: showSteps 2s ease-in forwards;

}
.img-topo-site:nth-child(1){
   top: 20%;
   left: 10%;
   animation-delay: 0.5s;
}
.img-topo-site:nth-child(2){
    top: 40%;
    left: 25%;
    animation-delay: 0.5s;
 }
 .img-topo-site:nth-child(3){
    top: 60%;
    left: 40%;
    animation-delay: 0.5s;
 }
 .img-topo-site:nth-child(4){
    top: 80%;
    left: 55%;
    animation-delay: 1.5s;
 }

 @keyframes showSteps{
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }

 }

@keyframes flutuar {
    0% {
        top:0
    }
    100%{
        top: 20px;

    }



}

/*----------QUEM SOMOS------------*/


section.quemSomos{
    
    background-color: var(--Quem-somos);
    flex-wrap: wrap;
}
.foto1{
    position: relative;
    width: 330px;
    height: 410px;
    left: 100px;
    object-fit: cover;
    

}

#frontImage[src*="micheline.png"] {
     /* Define um tamanho específico para a segunda imagem */
    height: auto;
    position: relative;
    bottom: -100px;
    left: 120px;
}
.foto2{
    width: 400px;
}
.container {
    position: relative; /* Para permitir o posicionamento dos elementos filhos */
    width: 600px;
    height: 360px;
    background-image: url('/img/good-team-animate.svg'); 
    background-size: cover; 
    background-position: center; 
   
}
.img1{
    position: absolute;
    top: -100px; /* Ajusta a posição vertical da imagem da frente */
    left: -20px;
 
}
section.quemSomos{
    flex-wrap: wrap;
}
section.quemSomos h1{
    font-size: 30px;
    font-family:var(--fonte-de-titulo);
    text-align: center;
    letter-spacing: 2px;
    position: relative;
    

    
}
section.quemSomos .flex{
    gap: 5rem;
}

section.quemSomos .flex  .txt-quem-somos{
gap: 20rem;
margin: 60px;
flex-wrap: wrap;
}

.detalhe{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 150px;
    
}
.txt-quem-somos{
    font-size: 16px;
   
    background-color: #ffffff44;
    flex-wrap: wrap;
    
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    width: 1000px;
    height: 240px;
    
}

.txt-quem-somos p {
    font-size: 16px;
    font-family: var(--fonte-de-texto);
    text-align: center;
    padding: 10px;
    word-spacing: 8px;

}

/*-------------PROJETO----------*/

section.projeto{
    padding: 100px 3%;
    background-color: var(--Projeto);
    flex-direction: column;
   
}

section.projeto .interface h2{
    position: relative;
    font-size: 40px;
    font-family: var(--fonte-de-titulo);
    text-align: center;
    letter-spacing: 3px;
    top: -100px;
    

}

.txt-projeto{
    font-size: 20px;
    font-family: var(--fonte-de-texto);
    word-spacing: 10px;
    line-height: 1.5;
    text-align: center;

}

/*--------------------RESULTADOS-----------------*/

section.resultados{
    padding: 100px 3%;
    background-color: var(--resultados);

}

section.resultados h2{
    text-align: center;
    font-size: 40px;
    font-family: var(--fonte-de-titulo);
    letter-spacing: 3px;
    position: relative;
    top: -100px;

}

section.resultados .flex .container2{
    display: flex;
    flex-direction: row;
    
    gap: 40rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.next-e-back{
    position: relative;
    
    border: none;
    background-color: #CEC9F9;
    

}









