html {
    scroll-behavior: smooth; /* Rolagem suave */
}
body{
    background-color: #f6f6fe;
}
.interface{
    background-color: #f6f6fe;
}
.menu {
    background-color: #f6f6fe;
    width:50%;
}

.menu a {
    position: relative;
    bottom: 30px;
    /*text-decoration retira o sublinado azul do link da tag a*/
    text-decoration: none;
    margin-left: 10%;
    align-items: center;
    color: black;
}
a{
    margin: 0; /* Remove margens que podem aumentar a área de clique */
}

.menu a:hover{
    color: pink;
}